table{
     border: 1px solid #000;
color: black;
border-width: 1px;
width:100%;
background-color: white;
}

td,th{
    border: 2px solid #000;
    text-align: left;
    height:30px;

}

.center{
    
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

h2{
    font-family: sans-serif;
    font-weight: bold;
}

body{
    

    background-color: rgb(219, 217, 217);
}

a:hover{
    text-decoration: none;
    color: orange;
}

th:hover{
    background-color: yellow;
}

img:hover{
    transform : scale(2);
}

@media only screen and (max-width: 600px) {
    body {
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
}

tr:nth-child(odd) {
  background-color: #656966;
  color:white;
}

tr:hover {
    text-decoration: none;
    color:black;
  background-color: #ffff99;
}

a {
    text-decoration: none;
    color: black; /* opcional, para mantener el texto negro */
}

