body {
    background-color: rgb(220, 219, 219);
    font-family: Arial, sans-serif;
    margin: 40px;
  
}

form {
  
    border-radius: 16px;
    padding: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
}

label {
    width: 150px;
  display: inline-block;
    margin-top: 10px;
}

input {
    width: 250px;
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1rem;
  box-sizing: border-box; 

    font-size: 1em;         
    border-radius: 5px;     
    
    transition: border-color 0.3s;
}


input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

.btn-primary {
  width:250px;
  border-radius: 5px;        
  padding: 6px 12px;         
  background-color: #0d6efd; 
  border: 2px solid #0d6efd; 
  color: #fff;               
  cursor: pointer;           
  text-decoration: none;    
  font-size: 1em;          
  transition: background-color 0.3s, border-color 0.3s;
}


.btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0b5ed7;
}




button:hover {
    background-color: #0056b3;
}

input:invalid + .icon-ok {
  display: none;
}
input:valid + .icon-ok {
  display: inline-block;
  color:green;
}

.arrow{
  border:solid;
  border-color:black;
  background-color: #0d72dd;
}

form:invalid .btn-primary[type="submit"] {
  border:solid;
  border-color: gray;
  background-color: gray;
}